<!DOCTYPE html>
<html>
  <head>
    <!-- meta charset='utf-8'-->
    <!-- meta http-equiv='X-UA-Compatible' content='IE=edge'-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap" rel="stylesheet"> 
    <title>Icarus Talent Calculator</title>
    <!-- meta name='viewport' content='width=device-width, initial-scale=1'-->
    <link rel='stylesheet' type='text/css' media='screen' href='IcarusTalentCalc.css'>
  </head>
  <body>
    <div id="main">
      <div id="tree-nav">
        <div id="survival" class="trees">  
          <div id="resources" class="sub-tree">
            <div class="talent-node inactive-node">
              <div class="talent-x-y inactive">0/3</div>
            </div>
            <div class="track active"></div>
          </div>
          <div id="exploration" class="sub-tree">
            <div class="talent-node inactive-node">
              <div class="talent-x-y inactive">0/3</div>
            </div>
            <div class="track active"></div>
          </div>
          <div id="hunting" class="sub-tree">
            <div class="talent-node inactive-node">
              <div class="talent-x-y inactive">0/3</div>
            </div>
            <div class="track active"></div>
          </div>
          <div id="cooking-farming" class="sub-tree">
            <div class="talent-node inactive-node">
              <div class="talent-x-y inactive">0/3</div>
            </div>
            <div class="track active"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>