.sub-tree {
  width: 500px;
  height: 1000px;
  padding: 50px;
  position: relative;
  background-image: url("../img/Backgrounds/Survival_Resources_Background.png");
  background-size: 100%;
}

.talent-node {
  margin: 36px;
  width: 72px;
  height: 72px;
  position: absolute;
  background-size: 72px;
  z-index: 2;
  display: inline-block;
}

.active-node {
  border: 3px orange solid;
}

.inactive-node {
  border: 3px lightgray solid;
}

.talent-x-y {
  width: 35px;
  height: 20px;
  background-color: rgb(61, 61, 61);
  position: absolute;
  top: -10px;
  left: -18px;
  color: lightgray;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  z-index: 3;
}

.talent-edge-vert {
  position: absolute;
  left: 50%;
  z-index: 1;
  width: 5px;
  height: 40px;
  align-items: center;
}

.top {
  bottom: 104%;
}

.bottom {
  top: 104%;
}

.inactive {
  background-color: gray;
  color: white;
}

.active {
  background-color: orange;
  color: black;
}

.available {
  background-color: white;
}

.talent-edge-horz {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 5px;
  z-index: 0;
}

.left {
  right: 104%;
}

.right {
  left: 104%;
}

body {
  font-family: "Tomorrow", sans-serif;
}
